body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #ff7565;
  margin-bottom: 200px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #333;
  border-left: 1px solid #333;
  padding: 10px;
  text-align: left;
}

.jumbotron {
  font-family: 'Lora', serif;
  text-align: center;
  color: #333;
  border-radius: 0;
  background: #ff8335;
  border-bottom: 10px solid #333;
}

#currentDay {
  font-size: 24px;
  color: #333;
  display: table;
  margin: 0px auto 0px auto;
  padding: 20px;
  border-radius: 20px;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  #333-space: pre-wrap;
  height: 80px;
  border: none;
}

.hour {
  background-color: transparent;
  color: #333;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  text-decoration-color: #ffb73b;
  text-decoration-thickness: 10px;
  text-decoration-style: solid;
  border: none;
}

.past {
  background-color: #f4a3a3;
  color: #333;
}

.present {
  background-color: #ff3e34;
  color: #333;
}

.future {
  background-color: #ffecae;
  color: #333;
}

.saveBtn {
  border-left: 1px solid rgb(142, 142, 142);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffae70;
  color: #333;
}

.saveBtn i:hover {
  font-size: 48px;
  transition: all 0.3s ease-in-out;
}

.smiley {
  font-size: 40px;
}

.form-control {
  text-align: left;
  padding-top: 10px;
  border: none;
}